.elementsListRequests {
    display: flex;
    justify-content: center;
}

/*Inicio do Title*/

.accordions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    width: 100%;
}

.div-accordion-title {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    background-color: red;
    border: 1px solid #ccc;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}


.accordion-title {
    font-family: 'Karl', sans-serif;
    font-weight: bold;
    margin: 25px;
}

/*Fim do Title*/

/*Inicio do Thead*/

.accordion-content {
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.accordion-content.expanded {
    max-height: 500px;
    opacity: 1;
    margin-bottom: 13px;
}

.trTitle th {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc; 
}

/*Fim do Thead*/

/*Body da listagem*/

.tbodyProducts {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
}

.tbodyProducts td {
    padding: 10px;
    padding-left: 33px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    /*Caso seja maior que 200px, os elementos td vão quebrar*/
    overflow: hidden;
    max-width: 200px;
}

/*Fim do Body da Listagem*/

.fa-caret-down, .fa-caret-up {
    margin: 25px;
}