.elementsListRequests {
    display: flex;
}
.accordions {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10rem;
}

.ghost {
    width: 26.6%;
    height: 290px;
    position: fixed;
    background-color: white;
    margin-top: -300px;
}

/*Title do accordion*/
.div-accordion-title {
    width: 100%;
    cursor: pointer;
    background-color: #b56985;
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.accordion-title {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}
/*Fim do title*/

/*Conteúdo do Accordion*/
.accordion-content {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-top: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    background-color: white;
}

.accordion-content.expanded {
    max-height: none; /*Para não limitar a listagem*/
    opacity: 1;
    margin-bottom: 15px;
}

/*Titulo das colunas*/
.trTitle th {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
/*Fim do Titulo colunas*/

/*Colunas*/
.tbodyProducts {
    font-family: 'Karla', sans-serif;
    font-size: 10px;
}

.tbodyProducts td {
    padding: 5px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    max-width: 150px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}
/*Fim das colunas*/

.totalPriceMonth {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 10px;
    float: right;
    margin-top: 10px;
}

.mensgFault {
    display: flex;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
}