.menu {
    width: 100%;
    height: 110px;
    background-color: #a9d2e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.logoMenu {
  width: 100px;
}